body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.topnav .logo {
  padding-right: 20px;
}

.topnav .menu {
  flex-grow: 1;
  text-align: center;
}

.topnav .logo,
.topnav .icon {
  margin-right: 20px;
}

.topnav a {
  color: #000000;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #1C5CFF;
  color: white;
}

.topnav a.active {
  background-color: #1C5CFF;
  color: white;
}

.btn-download {
  background-color: #1C5CFF;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
}

@media screen and (max-width: 600px) {
  .btn-download {
      padding: 10px 16px;
      font-size: 14px;
  }
}

@media screen and (max-width: 572px) {
  .topnav a:not(.icon),
  .btn-download {
      display: none;
  }
}

.btn-download:hover {
  background-color: RoyalBlue;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
  }
  .topnav.responsive .menu {
      flex-direction: column;
      text-align: center;
  }
  .topnav.responsive .menu a {
      display: block;
  }
}


.container-section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-section1 {
  width: calc(50% - 10px);
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 20px
}

.right-section1 {
  width: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center; /* Align image vertically */
  flex-direction: column; /* Align icons below image */
  align-items: center; /* Center items horizontally */
  justify-content: flex-end; /* Align icons to the bottom */
  margin-bottom: 20px;
  position: relative;
}

.right-section1 img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  
  
}


.irachrist1{
  color: #1C5CFF;
}

.hi-5,
.irachrist1,
.uiux {
  margin: 0; /* Remove default margin */
}

.uiux {
  font-size: 40px; /* Adjust font size */
  font-weight: 200px;
}

.bottom-left {
  margin-top: 20px; /* Add space between text and button */
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 20%; /* Adjust width as needed */
  position: absolute;
  margin-top: 20px; /* Align icons to the bottom of the container */

}

.social-icons i {
  font-size: 24px;
  margin: 0 5px; /* Adjust horizontal margin between icons */
  margin-bottom: 10px; /* Add space below the icons */
}


.container-section2 {
  overflow: hidden; /* Clear float */
  margin: 20px 0;
}

.left-section2 {
  float: left;
  width: 40%;
  margin-right: 20px;
}

.right-section2 {
  float: right;
  width: 50%;
}

.right-section2 h2 {
  font-size: 24px;
  margin-top: 0;
}

.right-section2 p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.right-section2 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.language {
  margin-bottom: 10px;
}

.loadbar {
  width: 100%;
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.progress {
  background-color: #1C5CFF;
  height: 100%;
  border-radius: 5px;
}


.page {
  height: 100vh;
}

.container-section1, .container-section2 {
  height: 100vh;
}



@media screen and (max-width: 600px) {
  .social-icons {
      display: none;
  }

  .btn-download-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .btn-download {
      margin: 20px 0;
  }

  .container-section2 {
      flex-direction: column;
      align-items: center;
  }

  .left-section2, .right-section2 {
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .language {
      flex-direction: column;
      align-items: flex-start;
  }

  .progress {
      width: 80%;
  }
}




@media screen and (max-width: 600px) {
    .container-section1 .content-box {
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container-section1 .right-section1,
    .container-section2 .left-section2 {
        display: none;
    }
}

.content-box {
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}



/* Float four columns side by side */
.column {
  float: left;
  width: 15%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f3f3f3;
  color: black;
}

.fa {font-size:40px;}


.section_header h1, p{
  text-align: center;
}

.section_header p{
  font-size: 1em;
}

.section_header h1{
  font-size: 2em;
}

body{
  padding: 20px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


#center_grid{
  align-items: center;
}




.container{
  width:500px;
  min-height:315px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
}
h1{
  text-align:center;
  text-shadow:0 1px white;
  color:#02303F;
}
h2{
  color:#736861; 
  margin:15px 0 5px;
  text-shadow:0 1px rgba(255,255,255,0.5);
}
h6{
  color:#928566; 
  margin:0;
}
input[type="radio"] {
position: absolute;
width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
padding: 0;
margin: -1px;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
label{
  display:block;
  width:32%;
  border: 4px solid white;
  position:absolute;
  bottom:5px;
  cursor: pointer;
  transition: border-color 0.3s linear;
}

label.second{
  left:34%;
}
label.third{
  left:68%;
}

blockquote{
  margin:0;
  padding:30px;
  width:500px;
  background-color: #1C5CFF;
  color:white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position:relative;
  transition: background-color 0.6s linear;
}

blockquote:after { 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  top: 100%; 
  border: solid transparent; 
  border-top-color: #1C5CFF;
  border-left-color:#1C5CFF;
  border-width: 10px; 
  left: 10%; 
} 
#second:checked ~ .two blockquote {
  background-color:#1C5CFF;
}
.two blockquote:after{
  border: solid transparent; 
  border-top-color: #1C5CFF;
  border-left-color: #1C5CFF;
  border-width: 10px;
}
#third:checked ~ .three blockquote{
  background-color:#1C5CFF;
}
.three blockquote:after{
  border: solid transparent; 
  border-top-color: #1C5CFF;
  border-left-color: #1C5CFF;
  border-width: 10px;
}
.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}
.leftq{
  top:-25px;
  left:5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}
img{
  float:left;
  margin-right: 20px;
}
.slide{
  position:absolute;
  left:-100%;
  opacity:0;
  transition: all 0.6s ease-in;
}

#first:checked ~ label.first {
  border-width:6px;
  border-color:#1C5CFF;
}
#second:checked ~ label.second {
  border-width:6px; border-color: #1C5CFF;
}
#third:checked ~ label.third {
  border:6px solid #1C5CFF;
}

#first:checked ~ div.one {
  left:0;
  opacity:1;
}
#second:checked ~ div.two {
  left:0;
  opacity:1;
}
#third:checked ~ div.three {
  left:0;
  opacity:1;
}






.body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container_blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}


.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}